#register_side{
    margin-top: 33px;
    margin-bottom: 33px;
    display: block;
    cursor: pointer;
    z-index: 11;
    margin-right: 5px;

}

#register_side > a{
    display: block;
    position: relative;
    width: auto;
    height: auto;
    font-size: 15px;
    line-height: 16px;
    color: #525975;
    font-weight: 300;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.data_register_detail{
    padding: 15px;
}
